.DraftArena {
  height: 100vh;
  position: relative;

  &.full-screen-ranks {
    >.ranks-container {
      height: 100%;
    }
  }

  &.full-screen-board {
    >.board-container {
      height: calc(100% - 50px);
    }

    >.ranks-container {
      height: 50px;
    }
  }

  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
  }

  .board-container {
    height: 50%;
    overflow: auto;
  }

  .ranks-container {
    bottom: 0;
    z-index: 10;
    background: white;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 50%;
    transition: all 0.2s ease;
  }
}